In [1]:
print('Olá mundo')

Olá mundo

In [2]:
variavel_b = input('Digite um numero: ')

In [10]:
b = 5.0
type(b)

float

# Números

In [5]:
a = 5
b = 5.0
c = a + b
type(c)

float

In [6]:
a = 5
d = 10
d += 5
d

15

In [7]:
e = 10 ** 2
e

100

In [8]:
n_1 = 1j
n_2 = 1j
n_1 * n_2

(-1+0j)

In [9]:
string_numero = '123'
n_1 = float(string_numero)
n_1 * n_1

15129.0

# String

In [13]:
a = 'Ola mundo\n'
b = a * 7
print(b)

Ola mundo
Ola mundo
Ola mundo
Ola mundo
Ola mundo
Ola mundo
Ola mundo

# Listas
Listas são conjuntos de dados que podem conter dados de diferentes tipos. Elas possuem valores indexados a partir de zero.

In [1]:
lista_a =[1, 'texto', [3.1], 4]
lista_a

[1, 'texto', [3.1], 4]

In [3]:
lista_b = [3, 'texto', 5, 1, 2]
lista_b[2:]# pegando valores apartir do 2 em diante

[5, 1, 2]

In [5]:
lista_c = [1,2,3,4,]
lista_c + lista_b # somando listas

[1, 2, 3, 4, 3, 'texto', 5, 1, 2]

# Similaridades entre listas e strings

In [1]:
Lista_1 = ['PA','YA','TA','HA','OA','NA']
string_1 = 'PAYATAHAOANA'

Lista_1 *3

['PA',
 'YA',
 'TA',
 'HA',
 'OA',
 'NA',
 'PA',
 'YA',
 'TA',
 'HA',
 'OA',
 'NA',
 'PA',
 'YA',
 'TA',
 'HA',
 'OA',
 'NA']

# Valores Booleanos (Boolean Values)

In [1]:
print(True)  
print(False)

False

In [3]:
a = True
type(a)

bool

# Comparações
#### Comparações retornam variáveis do tipo bool

In [4]:
a = 5 != 6 
a

True